.gparent {
    background-color: red;
    width: 600px;
    height: 2000px;
    /* height: 600px; */
    padding: 20px;
    
}
.parent {
    background-color: teal;
    width: 500px;
    height: 500px;
    padding: 20px;
    overflow: scroll;
}
.child {
    background-color: khaki;
    padding: 20px;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 1px;
}
.sibiling {
    background-color: green;
    width: 100px;
    padding: 20px;
    height: 100px;
    /* position: relative; */
    top: 1px;
}