.outer {
    font-size: 20px;
    background-color: teal;
    height: 300px;
    width: 300px;
    position: relative;
    box-sizing: border-box;
}

.div1 {
    height: 150px;
    width: 150px;
    background-color: khaki;
    position: relative;
    inset: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}